<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>预约结果</title>
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div style="height: 3px"></div>
<section>
    <div>
        <img src="http://paypalshanghai.com/static/images/paypal.png">
        <div style="height: 1px;"></div>
        <p style="color:blueviolet;font-size:25px;">PayPal校园招聘面试时间预约系统</p>
        <p style="margin:0;padding:0; width:580px;height:3px;background-color:#303030;overflow:hidden;"> </p>
        <div style="height: 64px;"></div>
    </div>
</section>
<section class="information">
    <p style="color:red;font-size:20px;">选择成功！</p>
    <p>你选择了11月7日{{candidate.timeArea }}的面试时间。</p>
    <p>请提前10分钟到达面试地点。</p>
</section>
<section class="picture">
    <p>我们的办公地点位于：上海市东方路1217号，陆家嘴金融服务广场18楼</p>
    <p style="color: red">(如果图片显示不完全，右键图片选择download图片）</p>
    {% load staticfiles %}
    <img src="http://paypalshanghai.com/static/images/map.png">
</section>
</body>

</html>
