{% load staticfiles %}
<div style="height: 3px"></div>
<section>
    <div>
        <a href="massage_login.html"><img src="{% static "images/paypal.png" %}"></a>
        <div style="height: 1px;"></div>
        <p style="color:#99999A;font-size:25px;font-family: '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Massage Reservation</p>
        <p style="margin:0;padding:0; width:580px;height:3px;background-color:#303030;overflow:hidden;"> </p>
        <div style="height: 40px;"></div>
    </div>
</section>